body {
  /* background-color: #333; */
  background: #00467f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00467f,
    #a5cc82
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00467f, #a5cc82);
  color: #fff;
}

.App {
  text-align: center;
}

.taskBg {
  background-color: rgb(13, 48, 154);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

/* .button1 {
  border-radius: 50px;
  background: #1f8fe5;
  box-shadow: 20px 20px 60px #145d95, -20px -20px 60px #2ac1ff;
} */

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: rgb(219, 214, 214);
  border: 1px solid rgb(223, 222, 222);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.5;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: yellow;
}

.taskBg .iconsWrap span:hover {
  color: #00ff89;
}

.mr-20 {
  margin-right: 20px;
}
